body{
    background: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
label{
    display:block;
    font-weight: bold;
    margin-top: 10px;
}
input,select,textarea{
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}